<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
     <add name="SqlConnIntegratedSecurity" 
        connectionString="Data Source=localhost;Initial Catalog=VDITechnicalTest;Integrated Security=true;TrustServerCertificate=true"/>
     <add name="SqlConnWithAuthentication" 
        connectionString="Data Source=localhost;Initial Catalog=VDITechnicalTest;User ID=UserName;Password=Secret;TrustServerCertificate=true"/>
  </connectionStrings>
</configuration>
