<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
     <add name="SqlConnIntegratedSecurity" 
        connectionString="Data Source=localhost;Initial Catalog=VDI_Technical_Test;Integrated Security=true"/>
     <add name="SqlConnWithAuthentication" 
        connectionString="Data Source=localhost;Initial Catalog=VDI_Technical_Test;User ID=UserName;Password=Secret"/>
  </connectionStrings>
</configuration>
